<div class="card mb-2">
  <div class="card-header">
    <h5>{{ account.name }}</h5>
  </div>
  <div class="card-body">
    <p clss="card-text">This account is {{ account.status }}</p>
    <button type="button" class="btn btn-success me-2" (click)="onSetTo('active')">Set to 'active'</button>
    <button type="button" class="btn btn-warning me-2" (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button type="button" class="btn btn-secondary me-2" (click)="onSetTo('unknown')">Set to 'unknown'</button>
  </div>
</div>


